body {
  background-color: #ffdaae;
  font-family: Griffy, Arial, sans-serif;
  color: #c49ce5;
}
#wrapper {
  width: 600px;
  margin: 0px auto;
}
#header {
  /*css3-makes it responsive*/
    display: flex;
    /*horizontally aligns when don't use all the space in div */
    justify-content: space-between;
    align-items: flex-end;
      /*align to the end of div*/
}

h2 {
  line-height:0;
  /*so not obnoxiously large, and helps icons align together*/
}

 #pad {
  background-color: white;
  height:500px;
  width: 500px;
  margin: 10px auto;
  border: 10px solid #c49ce5;
}

#reset {
  border: none;
  background-color: #c49ce5;
  font: 1em Griffy, Arial, sans-serif;
  transition: 0.2s;
}

#reset:hover {
  opacity: 0.8;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}
#tools button {
  background-color: transparent
  padding: 8px;
  transition: 0.2s;
  opacity: 0.3;
  /*so color is light, when not selected*/
}

#tools button:hover {
  opacity: 1;
}

#tools .chosenTool, #tools .chosenTool:hover {
  opacity:1;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.row { display: flex;}

.square {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  background-color: black;
}
